/* captions in bold to differentiate them from the text */

p.caption {
  font-weight: bold;
}

body{ /* Normal  */
      font-size: 16px;
      }
      
p.comment {
  background-color: #DBDBDB;
  padding: 10px;
  /* border: 1px solid black; */
  margin-left: 25px;
  /* border-radius: 5px; */
  /* font-style: italic; */
}


/* space before titles */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 84px;
}